body {
      font-family: Arial, sans-serif;
      background: linear-gradient(#f5f5f5, #d9d9d9);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background: white;
      padding: 35px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      text-align: center;
      width: 360px;
    }
    h2 {
      margin-bottom: 5px;
    }
    .subtitle {
      font-size: 14px;
      margin-bottom: 20px;
      color: #555;
    }
    input {
      width: 90%;
      padding: 12px;
      margin: 10px 0;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    small {
      display: block;
      font-size: 12px;
      color: gray;
      margin-bottom: 10px;
    }
    .forgot {
      display: block;
      margin-left: -240px;
      margin-bottom: 15px;
      font-size: 13px;
    }
    .forgot a {
      text-decoration: none;
      color: blue;
    }
    button {
      background: black;
      color: white;
      border: none;
      padding: 12px;
      width: 100%;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background: #333;
    }
    p {
      font-size: 12px;
      margin-top: 20px;
      color: #555;
    }
    p a {
      color: blue;
      text-decoration: none;
    }

    .contoh {
    margin-left: -80px;
    margin-top: -5px;
    }

    .garis-dengan-teks {
    display: flex;
    align-items: center;
    margin: 20px 0;
    }
    .garis-dengan-teks hr {
    flex: 1;
    border: none;
    border-top: 1.5px solid #000000;
    margin: 0 10px;
    }
    .garis-dengan-teks span {
    color: #000000;
    font-size: 14px;
    font-weight:bold
    }

    .opsi{
    display: flex;
    align-items: center;
    }

    .google{
        margin-left: 65px;
    }

    .facebook{
        margin-left: 50px;
    }

    .x{
        margin-left: 50px;
    }